.headings{
    background-color: #d4e8f8;
    padding: 15px;
}
.headings:hover{
    position: relative;
    top: -4px;
}
.content p{
line-height: 35px;
}
@media screen and (max-width: 840px){
    .content p{
        font-size: 18px;
    }
}
@media screen and (max-width: 750px){
    .content p{
        font-size: 16px;
    }
}
