body{
    overflow-x: hidden;
   
}
body,ul,li,h2,h3,a{
    margin: 0;
    padding: 0;
    font-family: calibri light;
}
h2{
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(49, 48, 48, 0.616);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #084cac;
    font-weight:bold;
    padding: 0px;
}
.content{
    padding: 20px ;
    font-size: 20px;
}
.content p{
    padding: 5px;
}
.content ol{
    padding: 25px;
}
.content li{
    line-height: 30px;
}
.content a{
    text-decoration: none;
    color: #084cac;
}
.content a:hover{
    text-decoration: underline;
}
.destination{
    background-color: #d8e4f4;
}  
.destination h2{
    width: 100%;
    text-align: center;
    padding: 20px;
}
.images{
    text-align: center;
    margin: 0px 0px;
    white-space:nowrap;
}
.images li{
    display: inline-block;
    width: 27%;
    height: 27%;
    margin: 20px 20px;
}
.images li img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    box-shadow: 3px 3px 6px rgba(49, 48, 48, 0.616);
}
.images li:hover{
    position: relative;
    top: -4px;
}
p::selection{
    background: #084cac;
    color: white;
}
li::selection{
    background: #084cac;
    color: white;
}
h2::selection{
    background: #084cac;
    color: white;
}
h1::selection{
    background: #084cac;
    color: white;
}
h3::selection{
    background: #084cac;
    color: white;
}
a::selection{
    background: #084cac;
    color: white;
}
@media screen and (max-width: 840px){
    .content{
        font-size: 18px;
    }
}
@media screen and (max-width: 750px){
    .content{
        font-size: 16px;
    }
}
