body{
    overflow-x: hidden;
}
body,ul,li,h2,h3,a{
    margin: 0;
    padding: 0;
    font-family: calibri light;
}
h2{
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(49, 48, 48, 0.616);
    /* margin: 0em; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #084cac;
    font:bold;
}
.content{
    padding: 20px;
    font-size: 20px;
}
.content .tca{
    font-size: 13px;
    font-style: italic;
}
.trips p{
    line-height: 35px;
}
.table p{
    line-height: 35px;
}
.table{
    background-color: #d8e4f4;
    padding: 20px;
    font-size: 20px;
    
}
.table h2{
    width: 100%;
    text-align: center;
}
table,tr{
    border: 1px solid #d8e4f4;
    border-collapse: collapse;
    margin: 15px;
    font-size: 20px;
}
table{
    position: relative;
    left: 27%;
    width: 45%;
}
th{
    background-color: #084cac;
    color: white;
}
td{
    text-align: center;
}
tr:hover{
    background-color: #d8e4f4;
}

@media screen and (max-width: 880px){
    .table h2{
        font-size: 45px;
    }
}
@media screen and (max-width: 840px){
    .table h2{
        font-size: 40px;
    }
    .content p{
        font-size: 18px;
    }
    .table p{
        font-size: 18px;
    }
    .prices th,td{
        font-size: 18px;
    }
}
@media screen and (max-width: 800px){
    .table h2{
        font-size: 37px;
    }
}
@media screen and (max-width: 770px){
    .table h2{
        font-size: 35px;
    }
}
@media screen and (max-width: 750px){
    .table h2{
        font-size: 33px;
    }
    .content p{
        font-size: 16px;
    }
    .table p{
        font-size: 16px;
    }
    .prices th,td{
        font-size:16px ;
    }
}